.mapContainer {
	position: relative;
}

.map {
	width: 100%;
	min-height: 200px;
	height: inherit;
}

.address-card {
	padding: 10px;
	position: absolute;
	bottom: 70px;
	width: calc(100% - 32px);
	justify-content: flex-start;
}

.map-container .address-card input {
	outline: none;
	border: none;
}

.map-container .address-card .geo-address {
	max-height: 32px;
	overflow: auto;
}

.markerIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 40px;
	margin: -40px 0 0 -12px;
	background-size: contain;
	background-repeat: no-repeat;
}

.defaultSearchPositoin {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.searchLoading {
	width: 100%;
	text-align: center;
}

.mapTextarea {
	min-height: 40px;
	max-height: 60px;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	min-width: 50%;
	padding: 4px 10px;
}

.mapItemUL {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.mapItem {
	border-bottom: 1px solid #e0e0e0;
	padding: 8px 0;
}

.mapItem:nth-last-child(1) {
	border-bottom: 1px solid transparent;
}

.searchH1 {
	font-size: 0.875rem;
	margin-bottom: 2px;
}

.searchH2 {
	color: #8d8b97;
	font-size: 0.75rem;
}