package-lock=true
@bharatpe:registry=https://npm.bharatpe.io
@zillion:registry=https://npm.bharatpe.io
@postpe:registry=https://npm.bharatpe.io
@bp:registry=https://npm.bharatpe.io
always-auth=true
//npm.bharatpe.io/:_authToken=${BHARATPE_NPM_TOKEN}
