@font-face {
  font-family: 'Regular';
  src: url('https://d30gqtvesfc1d5.cloudfront.net/fonts/v3/poppins/Regular');
}

body {
  margin: 0;
  padding: 0;
  font-family: Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, textarea {
  font-family: Regular
}


#mySearch {
  position: absolute;
  top: 100%;
}

.h-100 {
  height: 80vh;
}

.custom-search-box.material {
  position: absolute;
  bottom: 0;
}

button {
  margin: 10px 5px;
  background: #22a0ce;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 3px;
}

button:disabled {
  opacity: 0.4;
}